* {
 
  font-family: 'Andada Pro', serif;
 
}
/* ========Header Section ========= */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0.15px;
    background: #00b4d8;
    overflow-y: auto;
}

#header .profile img {
    /* margin-top: 50px; */
    margin: 15px auto;
    display: block;
    width: 180px;
    border:  10px solid #00b4f9;
}


#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    /* font-family: "Tangerine" ; */
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #99d3eb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
}

#header .profile .social-links a:hover {
    /* background: #0a2946; */
    background: #ea0099;
    color: #fff;
    text-decoration: none;
}

#header .profile h1 a, 
#header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#main{
    margin-left: 300px;
}
@media(max-width:1199px){
    #header{
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
}

/* ================== Nav Menu ===================== */
.nav-menu {
    padding-top: 30px;

}
.nav-menu * {
    /* margin: 0; */
    /* padding: 0; */
    list-style: none;
    margin-left: 12px;
}

.nav-menu > ul > li {
    position: sticky;
    /* white-space: nowrap; */
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #99d3eb;
    padding: 2px 5px;
    margin-bottom: 3px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: bold;
}
.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #3f4244;
}
.nav-menu a:hover,
.nav-menu .active > a, 
.nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i, 
.nav-menu .active > a i,
.nav-menu li:hover > a i {
    color: #000baa;
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}
.mobile-nav-toggle i {
    color: #5aa9f3;
}
.mobile-nav-active {
    overflow: hidden;
}
.mobile-nav-active #header {
    left: 0;
}
.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    /* color: #173b6c; */
    color: #606060;
    
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  
  color: #606060;
  font-weight: 2em;
  line-height: 1.8;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  text-align: justify;
  
}
.about h2 {
  color: #606060;
}
.about h2 span, .intro-text span{
  color: #149ddd;
  font-weight: bold;
}
.about .intro-text, .portfolio .intro-text {
  margin-top: 15px;
  font-size: larger;
  color: #606060;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/

.skills .skills-content ul {
    list-style: none;
    padding: 0;
  }

.skills .skills-content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.skills .skills-content ul {
  list-style: none;
  padding: 0;
}

.skills .skills-content ul li {
  padding-bottom: 10px;
  color: #606060;
  font-size: medium;
}

.skills .skills-content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

.skills .skills-content h4 {
    color: #149ddd;
    font-weight: 500;
    padding-bottom: 10px;
}

.skills .skills-content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Experiences
--------------------------------------------------------------*/
.experiences .experiences-title {
    font-size: 26px;
    /* font-weight: lighter; */
    margin-top: 20px;
    margin-bottom: 20px;
    color: #149ddd;
  }
  
  .experiences .experiences-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  
  .experiences .experiences-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    /* text-transform: uppercase; */
    
    color: #606060;
    margin-bottom: 10px;
  }
  
  .experiences .experiences-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .experiences .experiences-item ul {
    padding-left: 20px;
  }
  
  .experiences .experiences-item ul li {
    padding-bottom: 10px;
    font-size: 16px;
  }
  
  .experiences .experiences-item:last-child {
    padding-bottom: 0;
  }
  
  .experiences .experiences-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }


  
  
/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  

  .portfolio-wrap {
    margin: 15px auto;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border:  0.5px solid #ddd;
    
    
  }

  .portfolio-title {
    font-size: larger;
    text-align: center;
    color: #00b4d8;
  }
  .portfolio-wrap>img {
    height: 170px;
    width: 300px;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 50px;
  }
  
  .portfolio-details .portfolio-description h2 {
    width: 50%;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  
  .portfolio-links {
    padding-top: 10px;
    text-align: center;
  }

  .model_button>a, .code_button>a {
    text-decoration: none;
    color: #149ddd;
  }
  .model_button>a:hover, .code_button>a:hover {
    color: #fff;
  }
  
  @media (max-width: 768px) {

    .portfolio {
      width: 100%;
      position: static;
      margin-top: 30px;
    }
  }

/*--------------------------------------------------------------
# Achievements Section
--------------------------------------------------------------*/
.achievements {
  height: 600px;
  width: 100%;
  margin-top: 20px;
}

.achievements_details ul li {
  padding-bottom: 15px;
  padding-left: 15px;
  font-weight: bold;
  color: #606060;
  font-size: large;
  list-style-type: none;
}

.achievements_details ul li i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

@media (max-width: 768px) {

  .achievements {
    width: 100%;
    position: static;
    margin-top: 30px;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #00b4d8;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
  }
  
  @media (max-width: 1199px) {
    #footer {
      position: static;
      width: auto;
      padding-right: 20px 15px;
    }
  }
  


